/*about*/
.jst_about_box {
  height: 854px;
  background: url(../images/about/banner_bg.png) no-repeat 100% 100%;
}
.jst_about_box .jst_box {
  position: relative;
  height: 100%;
}
.jst_about_box .jst_box .jst_about_leftBox {
  background: #ffffff;
  width: 24%;
  height: 540px;
  position: absolute;
  top: 260px;
  left: 0;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList {
  padding: 20px 0;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_leftTitle {
  padding: 0 20px;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #dfdfdf;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_leftTitle span {
  font-size: 24px;
  color: #333333;
  display: inline-block;
  line-height: 76px;
  font-weight: bold;
  vertical-align: middle;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_leftTitle i {
  display: inline-block;
  width: 31px;
  height: 30px;
  background: url(../images/about/aboutLogo.png) no-repeat 100% 100%;
  margin-right: 4px;
  vertical-align: middle;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_jsjk {
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #dfdfdf;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_jsjkOn {
  color: #ffffff;
  background: #eb5e01;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_jst {
  padding: 0 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #dfdfdf;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_jst i {
  display: inline-block;
  width: 8px;
  height: 15px;
  margin-right: 16px;
  background: url(../images/about/grayPointer.png) no-repeat 100% 100%;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_jstOn {
  color: #ffffff;
  background: #eb5e01;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_jstOn i {
  background: url(../images/about/whitePointer.png) no-repeat 100% 100%;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_jyf {
  padding: 0 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #dfdfdf;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_jyf i {
  display: inline-block;
  width: 8px;
  height: 15px;
  margin-right: 16px;
  background: url(../images/about/grayPointer.png) no-repeat 100% 100%;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_jyfOn {
  color: #ffffff;
  background: #eb5e01;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_jyfOn i {
  background: url(../images/about/whitePointer.png) no-repeat 100% 100%;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_addrBox {
  padding: 0 20px;
  padding-bottom: 20px;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_addrBox .jst_about_addrTitle {
  font-size: 16px;
  font-weight: bold;
  line-height: 60px;
  color: #333333;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_addrBox .jst_about_addr {
  line-height: 24px;
  font-size: 12px;
  color: #4c4c4c;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_addrBox .jst_about_addr i {
  display: inline-block;
  width: 10px;
  height: 12px;
  margin-right: 5px;
  background: url(../images/about/addrLogo.png) no-repeat 100% 100%;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_addrBox .jst_about_mail {
  line-height: 24px;
  font-size: 12px;
  color: #4c4c4c;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_addrBox .jst_about_mail i {
  display: inline-block;
  width: 12px;
  height: 9px;
  margin-right: 3px;
  background: url(../images/about/mailLogo.png) no-repeat 100% 100%;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_addrBoxOn {
  background: #eb5e01;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_addrBoxOn .jst_about_addrTitle {
  color: #ffffff;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_addrBoxOn .jst_about_addr {
  color: #ffffff;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_addrBoxOn .jst_about_addr i {
  background: url(../images/about/addrwLogo.png) no-repeat 100% 100%;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_addrBoxOn .jst_about_mail {
  color: #ffffff;
}
.jst_about_box .jst_box .jst_about_leftBox .jst_about_leftList .jst_about_addrBoxOn .jst_about_mail i {
  background: url(../images/about/mailwLogo.png) no-repeat 100% 100%;
}
.jst_about_box .jst_box .jst_about_rightBox1 {
  width: 73%;
  height: 540px;
  position: absolute;
  top: 260px;
  right: 0;
  background: #ffffff;
  display: block;
}
.jst_about_box .jst_box .jst_about_rightBox1 .jst_about_title {
  padding-bottom: 24px;
  text-align: center;
}
.jst_about_box .jst_box .jst_about_rightBox1 .jst_about_title h2 {
  font-size: 20px;
  line-height: 128px;
  color: #333333;
  font-weight: bold;
}
.jst_about_box .jst_box .jst_about_rightBox1 .jst_about_content {
  padding: 0 70px;
}
.jst_about_box .jst_box .jst_about_rightBox1 .jst_about_content .jst_about_mes {
  font-size: 14px;
  line-height: 28px;
  color: #4c4c4c;
  margin-bottom: 40px;
}
.jst_about_box .jst_box .jst_about_rightBox1 .jst_about_content .jst_about_bold .jst_about_boldItem {
  font-size: 14px;
  line-height: 28px;
  color: #4c4c4c;
}
.jst_about_box .jst_box .jst_about_rightBox1 .jst_about_content .jst_about_bold .jst_about_boldItem span {
  color: #4c4c4c;
  font-weight: bold;
}
.jst_about_box .jst_box .jst_about_rightBox2 {
  width: 73%;
  height: 540px;
  position: absolute;
  top: 260px;
  right: 0;
  background: #ffffff;
  display: none;
}
.jst_about_box .jst_box .jst_about_rightBox2 .jst_about_title {
  padding-bottom: 24px;
  text-align: center;
}
.jst_about_box .jst_box .jst_about_rightBox2 .jst_about_title h2 {
  font-size: 20px;
  line-height: 128px;
  color: #333333;
  font-weight: bold;
}
.jst_about_box .jst_box .jst_about_rightBox2 .jst_about_content {
  padding: 0 70px;
}
.jst_about_box .jst_box .jst_about_rightBox2 .jst_about_content .jst_about_mes {
  font-size: 14px;
  line-height: 28px;
  color: #4c4c4c;
  margin-bottom: 40px;
}
.jst_about_box .jst_box .jst_about_rightBox2 .jst_about_content .jst_about_bold .jst_about_boldItem {
  font-size: 14px;
  line-height: 28px;
  color: #4c4c4c;
}
.jst_about_box .jst_box .jst_about_rightBox2 .jst_about_content .jst_about_bold .jst_about_boldItem span {
  color: #4c4c4c;
  font-weight: bold;
}
.jst_about_box .jst_box .jst_about_rightBox3 {
  width: 73%;
  height: 540px;
  position: absolute;
  top: 260px;
  right: 0;
  background: #ffffff;
  display: none;
}
.jst_about_box .jst_box .jst_about_rightBox3 .jst_about_title {
  padding-bottom: 24px;
  text-align: center;
}
.jst_about_box .jst_box .jst_about_rightBox3 .jst_about_title h2 {
  font-size: 20px;
  line-height: 128px;
  color: #333333;
  font-weight: bold;
}
.jst_about_box .jst_box .jst_about_rightBox3 .jst_about_content {
  padding: 0 70px;
}
.jst_about_box .jst_box .jst_about_rightBox3 .jst_about_content .jst_about_mes {
  font-size: 14px;
  line-height: 28px;
  color: #4c4c4c;
  margin-bottom: 40px;
}
.jst_about_box .jst_box .jst_about_rightBox3 .jst_about_content .jst_about_bold .jst_about_boldItem {
  font-size: 14px;
  line-height: 28px;
  color: #4c4c4c;
}
.jst_about_box .jst_box .jst_about_rightBox3 .jst_about_content .jst_about_bold .jst_about_boldItem span {
  color: #4c4c4c;
  font-weight: bold;
}
.jst_about_box .jst_box .jst_about_rightBox4 {
  width: 73%;
  height: 540px;
  position: absolute;
  top: 260px;
  right: 0;
  background: #ffffff;
  display: none;
}
.jst_about_box .jst_box .jst_about_rightBox4 .jst_about_map {
  text-align: center;
}
.jst_about_box .jst_box .jst_about_rightBox4 .jst_about_map img {
  width: 670px;
  height: 442px;
  margin-top: 30px;
}

/*# sourceMappingURL=about.css.map */
