@charset "UTF-8";
/*产品服务*/
.jst_pro_banner {
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  background: url(../images/product/banner_bg.jpg) no-repeat 100% 100%;
}

.jst_banner {
  padding: 122px 0 30px;
  box-sizing: border-box;
}
.jst_banner i {
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: url(../images/product/bannerIcon1.jpg) no-repeat 100% 100%;
  vertical-align: middle;
  margin-right: 12px;
}
.jst_banner span {
  font-size: 24px;
  color: #333333;
  line-height: 30px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}

/*tab切换*/
.jst_pro_tabsBox {
  width: 100%;
  height: 364px;
  box-sizing: border-box;
  color: #fff;
  background: -webkit-linear-gradient(left, #f5ac11 50%, #3943c6 50%);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f5ac11 50%, #3943c6 50%);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f5ac11 50%, #3943c6 50%);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f5ac11 50%, #3943c6 50%);
  /* 标准的语法（必须放在最后） */
}
.jst_pro_tabsBox .jst_box {
  position: relative;
  height: 364px;
  box-sizing: border-box;
}
.jst_pro_tabsBox .jst_box .jst_pro_business {
  width: 200px;
  height: 364px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 100px;
  background: #f5ac11;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.jst_pro_tabsBox .jst_box .jst_pro_business i {
  display: inline-block;
  width: 130px;
  height: 130px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../images/product/businessIcon.png) no-repeat 100% 100%;
}
.jst_pro_tabsBox .jst_box .jst_pro_community {
  width: 200px;
  height: 364px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 100px;
  background: #fa7b26;
  position: absolute;
  top: 0;
  left: 200px;
  z-index: 100;
}
.jst_pro_tabsBox .jst_box .jst_pro_community i {
  display: inline-block;
  width: 134px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../images/product/parkIcon.png) no-repeat 100% 100%;
}
.jst_pro_tabsBox .jst_box .jst_pro_community:hover {
  width: 280px;
  left: 120px;
  z-index: 110;
  transition: all 0.3s;
}
.jst_pro_tabsBox .jst_box .jst_pro_park {
  width: 200px;
  height: 364px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 100px;
  background: #27ba79;
  position: absolute;
  top: 0;
  left: 400px;
  z-index: 100;
}
.jst_pro_tabsBox .jst_box .jst_pro_park i {
  display: inline-block;
  width: 112px;
  height: 112px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../images/product/communityIcon.png) no-repeat 100% 100%;
}
.jst_pro_tabsBox .jst_box .jst_pro_park:hover {
  width: 280px;
  left: 320px;
  z-index: 110;
  transition: all 0.3s;
}
.jst_pro_tabsBox .jst_box .jst_pro_platform {
  width: 200px;
  height: 364px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 100px;
  background: #367fec;
  position: absolute;
  top: 0;
  left: 600px;
  z-index: 100;
}
.jst_pro_tabsBox .jst_box .jst_pro_platform i {
  display: inline-block;
  width: 112px;
  height: 112px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../images/product/platformIcon.png) no-repeat 100% 100%;
}
.jst_pro_tabsBox .jst_box .jst_pro_platform:hover {
  width: 280px;
  left: 520px;
  z-index: 110;
  transition: all 0.3s;
}
.jst_pro_tabsBox .jst_box .jst_pro_jst {
  width: 200px;
  height: 364px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 100px;
  background: #2e38b9;
  position: absolute;
  top: 0;
  left: 800px;
  z-index: 100;
}
.jst_pro_tabsBox .jst_box .jst_pro_jst i {
  display: inline-block;
  width: 112px;
  height: 112px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../images/product/jstIcon.png) no-repeat 100% 100%;
}

/*tab*/
.jst_pro_tabListBox .jst_pro_tabTitle {
  font-size: 20px;
  margin-bottom: 20px;
}
.jst_pro_tabListBox .jst_pro_tabList {
  font-size: 14px;
  line-height: 22px;
}

/*tab选中提示*/
.jst_pro_pointerBox {
  width: 100%;
  box-sizing: border-box;
}
.jst_pro_pointerBox .jst_box {
  height: 146px;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #d1d1d1;
}
.jst_pro_pointerBox .jst_box .jst_pro_bigTitle {
  box-sizing: border-box;
  padding-top: 64px;
}
.jst_pro_pointerBox .jst_box .jst_pro_bigTitle .jst_pro_pointer {
  height: 34px;
  position: relative;
}
.jst_pro_pointerBox .jst_box .jst_pro_bigTitle .jst_pro_pointer .jst_pro_pointer1 {
  display: inline-block;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  background: url(../images/product/b_pointer.png) no-repeat 100% 100%;
  position: absolute;
  top: -64px;
  left: 83px;
}
.jst_pro_pointerBox .jst_box .jst_pro_bigTitle .jst_pro_pointer .jst_pro_pointer2 {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url(../images/product/b_pointer2.png) no-repeat 100% 100%;
  position: absolute;
  top: -64px;
  left: 283px;
}
.jst_pro_pointerBox .jst_box .jst_pro_bigTitle .jst_pro_pointer .jst_pro_pointer3 {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url(../images/product/b_pointer5.png) no-repeat 100% 100%;
  position: absolute;
  top: -64px;
  left: 483px;
}
.jst_pro_pointerBox .jst_box .jst_pro_bigTitle .jst_pro_pointer .jst_pro_pointer4 {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url(../images/product/b_pointer4.png) no-repeat 100% 100%;
  position: absolute;
  top: -64px;
  left: 683px;
}
.jst_pro_pointerBox .jst_box .jst_pro_bigTitle .jst_pro_pointer .jst_pro_pointer5 {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url(../images/product/b_pointer3.png) no-repeat 100% 100%;
  position: absolute;
  top: -64px;
  left: 883px;
}
.jst_pro_pointerBox .jst_box .jst_pro_bigTitle i {
  display: inline-block;
  width: 34px;
  height: 25px;
  box-sizing: border-box;
  background: url(../images/product/b_titleIcon.png) no-repeat 100% 100%;
  vertical-align: middle;
}
.jst_pro_pointerBox .jst_box .jst_pro_bigTitle span {
  display: inline-block;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 5px;
}

/*tab信息展示*/
/*场景标题*/
.jst_pro_title {
  text-align: center;
  box-sizing: border-box;
  padding-top: 54px;
}
.jst_pro_title h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.jst_pro_title h2 i {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}
.jst_pro_title h2 em {
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
}

/*场景一*/
.jst_pro_step1 .jst_box .jst_pro_list1 {
  width: 100%;
  height: 520px;
  box-sizing: border-box;
  background: url(../images/product/b_scene_bg.png) no-repeat 100% 100%;
}
.jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content {
  position: relative;
}
.jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_fiveFun {
  position: absolute;
  top: 100px;
  left: 170px;
}
.jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_fiveFun li {
  width: 118px;
  height: 38px;
  box-sizing: border-box;
  background: #bd934a;
  border-radius: 10px;
  font-size: 14px;
  line-height: 38px;
  color: #ffffff;
  margin: 3px 0;
  text-align: center;
}
.jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_fiveFunTitle {
  width: 118px;
  height: 118px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #bd934a;
  padding: 24px;
  position: absolute;
  top: 138px;
  left: 328px;
}
.jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_fiveFunTitle span {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 34px;
  font-size: 30px;
  color: #ffffff;
}
.jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_fiveSuperTitle {
  width: 118px;
  height: 118px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #f46c11;
  padding: 24px;
  position: absolute;
  top: 138px;
  left: 540px;
}
.jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_fiveSuperTitle span {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 34px;
  font-size: 30px;
  color: #ffffff;
}
.jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_fiveSuper {
  position: absolute;
  top: 100px;
  left: 700px;
}
.jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_fiveSuper li {
  width: 118px;
  height: 38px;
  box-sizing: border-box;
  background: #f46c11;
  border-radius: 10px;
  font-size: 14px;
  line-height: 38px;
  color: #ffffff;
  margin: 3px 0;
  text-align: center;
}

/*场景二*/
/*框内文字*/
.jst_pro_tips {
  padding-top: 14px;
}
.jst_pro_tips li {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;
}

.jst_pro_step2 {
  background: #f6f6f6;
  height: 700px;
  box-sizing: box-sizing;
}
.jst_pro_step2 .jst_box {
  position: relative;
  height: 100%;
}
.jst_pro_step2 .jst_box .jst_pro_list {
  height: 100%;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content {
  position: relative;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content p {
  width: 798px;
  font-size: 14px;
  line-height: 28px;
  margin-left: 100px;
  box-sizing: border-box;
  padding-top: 54px;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox1 {
  width: 189px;
  position: absolute;
  top: 150px;
  left: 210px;
  z-index: 200;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox1 .jst_pro_tipsBox {
  background: url(../images/product/b_tipsBox1.png) no-repeat 100% 100%;
  width: 189px;
  height: 96px;
  box-sizing: border-box;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox1 .jst_pro_class {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox2 {
  width: 189px;
  position: absolute;
  top: 150px;
  right: 224px;
  z-index: 200;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox2 .jst_pro_tipsBox {
  background: url(../images/product/b_tipsBox3.png) no-repeat 100% 100%;
  width: 189px;
  height: 96px;
  box-sizing: border-box;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox2 .jst_pro_tipsBox .jst_pro_tips {
  padding-top: 24px;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox2 .jst_pro_class {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox3 {
  width: 189px;
  position: absolute;
  bottom: -430px;
  left: 210px;
  z-index: 200;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox3 .jst_pro_tipsBox {
  background: url(../images/product/b_tipsBox2.png) no-repeat 100% 100%;
  width: 189px;
  height: 96px;
  box-sizing: border-box;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox3 .jst_pro_tipsBox .jst_pro_tips {
  padding-top: 24px;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox3 .jst_pro_class {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox4 {
  width: 189px;
  position: absolute;
  bottom: -430px;
  right: 224px;
  z-index: 200;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox4 .jst_pro_tipsBox {
  background: url(../images/product/b_tipsBox4.png) no-repeat 100% 100%;
  width: 189px;
  height: 96px;
  box-sizing: border-box;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_tipsBox4 .jst_pro_class {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_center {
  width: 232px;
  height: 230px;
  background: url(../images/product/center_bg.png) no-repeat 100% 100%;
  border-radius: 50%;
  position: absolute;
  top: 230px;
  left: 376px;
}
.jst_pro_step2 .jst_box .jst_pro_list .jst_pro_content .jst_pro_center span {
  font-size: 24px;
  color: #fa6226;
}

/*场景三*/
.jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content {
  position: relative;
  width: 100%;
  height: 490px;
  background: url(../images/product/value_bg.png) no-repeat 100% 100%;
}
.jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content .jst_pro_value1 {
  width: 296px;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d4d;
  position: absolute;
  top: 60px;
  left: 304px;
}
.jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content .jst_pro_value2 {
  width: 242px;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d4d;
  position: absolute;
  top: 110px;
  left: 640px;
}
.jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content .jst_pro_value3 {
  width: 228px;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d4d;
  position: absolute;
  top: 318px;
  left: 650px;
}
.jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content .jst_pro_value4 {
  width: 250px;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d4d;
  position: absolute;
  top: 320px;
  left: 120px;
}
.jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content .jst_pro_value5 {
  width: 262px;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d4d;
  position: absolute;
  top: 170px;
  left: 118px;
}

.jst_pro_box1 {
  display: none;
}

.jst_pro_box2 {
  display: none;
}
.jst_pro_box2 .jst_pro_sevenFun {
  position: absolute;
  top: 56px;
  left: 164px;
}
.jst_pro_box2 .jst_pro_sevenFun li {
  width: 118px;
  height: 38px;
  box-sizing: border-box;
  background: #bd934a;
  border-radius: 10px;
  font-size: 14px;
  line-height: 38px;
  color: #ffffff;
  margin: 3px 0;
  text-align: center;
}
.jst_pro_box2 .jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content {
  background: url(../images/product/value_bg2.png) no-repeat 100% 100%;
}
.jst_pro_box2 .jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content .jst_pro_value1 {
  top: 80px;
  left: 642px;
}
.jst_pro_box2 .jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content .jst_pro_value2 {
  top: 300px;
  left: 680px;
}
.jst_pro_box2 .jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content .jst_pro_value3 {
  width: 130px;
  top: 328px;
  left: 200px;
}
.jst_pro_box2 .jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content .jst_pro_value4 {
  width: 140px;
  top: 160px;
  left: 200px;
}
.jst_pro_box2 .jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content .jst_pro_value5 {
  width: 270px;
  top: 80px;
  left: 200px;
}
.jst_pro_box2 .jst_pro_step3 .jst_box .jst_pro_list .jst_pro_content .jst_pro_value6 {
  position: absolute;
  width: 270px;
  top: 414px;
  left: 570px;
}

.jst_pro_box3 .jst_pro_step1 .jst_box {
  background: #ffffff;
}
.jst_pro_box3 .jst_pro_step1 .jst_box .jst_pro_list1 {
  background-position: 140px 100%;
}
.jst_pro_box3 .jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_Fun1 {
  position: absolute;
  top: 96px;
  left: 346px;
}
.jst_pro_box3 .jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_Fun1 li {
  width: 84px;
  height: 38px;
  box-sizing: border-box;
  background: #bd934a;
  border-radius: 10px;
  font-size: 14px;
  line-height: 38px;
  color: #ffffff;
  margin: 3px 0;
  text-align: center;
}
.jst_pro_box3 .jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_Fun2 {
  position: absolute;
  top: 96px;
  left: 250px;
}
.jst_pro_box3 .jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_Fun2 li {
  width: 84px;
  height: 38px;
  box-sizing: border-box;
  background: #bd934a;
  border-radius: 10px;
  font-size: 14px;
  line-height: 38px;
  color: #ffffff;
  margin: 3px 0;
  text-align: center;
}
.jst_pro_box3 .jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_fiveSuperTitle {
  left: 680px;
}
.jst_pro_box3 .jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_fiveFunTitle {
  left: 470px;
}
.jst_pro_box3 .jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_sixSuper {
  position: absolute;
  top: 76px;
  left: 840px;
}
.jst_pro_box3 .jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_sixSuper li {
  width: 118px;
  height: 38px;
  box-sizing: border-box;
  background: #f46c11;
  border-radius: 10px;
  font-size: 14px;
  line-height: 38px;
  color: #ffffff;
  margin: 3px 0;
  text-align: center;
}
.jst_pro_box3 .jst_pro_step1 .jst_box .jst_pro_list1 .jst_pro_content .jst_pro_tipsImg img {
  width: 150px;
  height: 298px;
}

/*# sourceMappingURL=product.css.map */
