.jst_pro_ban {
  width: 100%;
  height: 1.8rem;
  background-image: url(../new-images/product/banner_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-right: 0.12rem;
}
.jst_pro_ban .jst_box {
  height: 100%;
  position: relative;
}
.jst_pro_ban .jst_box .jst_pro_banTitle {
  position: absolute;
  left: 0;
  bottom: 0;
}
.jst_pro_ban .jst_box .jst_pro_banTitle i {
  display: inline-block;
  width: 0.29rem;
  height: 0.28rem;
  background-image: url(../new-images/product/banner01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-right: 0.12rem;
}
.jst_pro_ban .jst_box .jst_pro_banTitle span {
  display: inline-block;
  font-size: 0.24rem;
  vertical-align: middle;
}

.jst_pro_tabsBox {
  width: 100%;
  height: 3.97rem;
  background-image: url(../new-images/product/tab_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.jst_pro_tabsBox .jst_box {
  height: 100%;
  position: relative;
}
.jst_pro_tabsBox .jst_box .jst_pro_aTab {
  width: 2rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #f5ac11;
}
.jst_pro_tabsBox .jst_box .jst_pro_aTab .jst_pro_tabCon {
  color: #FFFFFF;
  position: absolute;
  top: 1rem;
  left: 0.4rem;
  z-index: 100;
  width: 100%;
}
.jst_pro_tabsBox .jst_box .jst_pro_aTab .jst_pro_tabCon dt {
  font-size: 0.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jst_pro_tabsBox .jst_box .jst_pro_aTab .jst_pro_tabCon dd {
  font-size: 0.14rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jst_pro_tabsBox .jst_box .jst_pro_aTab i {
  display: inline-block;
  width: 1.39rem;
  height: 0.94rem;
  background-image: url(../new-images/product/businessIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0.1rem;
  bottom: 0;
}
.jst_pro_tabsBox .jst_box .jst_pro_aTab:hover {
  cursor: pointer;
}
.jst_pro_tabsBox .jst_box .jst_pro_bTab {
  width: 2rem;
  height: 100%;
  position: absolute;
  left: 2rem;
  top: 0;
  overflow: hidden;
  background: #fa7b26;
}
.jst_pro_tabsBox .jst_box .jst_pro_bTab .jst_pro_tabCon {
  color: #FFFFFF;
  position: absolute;
  top: 1rem;
  left: 0.4rem;
  z-index: 100;
  width: 100%;
}
.jst_pro_tabsBox .jst_box .jst_pro_bTab .jst_pro_tabCon dt {
  font-size: 0.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jst_pro_tabsBox .jst_box .jst_pro_bTab .jst_pro_tabCon dd {
  font-size: 0.14rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jst_pro_tabsBox .jst_box .jst_pro_bTab i {
  display: inline-block;
  width: 1.27rem;
  height: 0.93rem;
  background-image: url(../new-images/product/parkIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0.1rem;
  bottom: 0;
}
.jst_pro_tabsBox .jst_box .jst_pro_bTab:hover {
  cursor: pointer;
}
.jst_pro_tabsBox .jst_box .jst_pro_bTabOn {
  width: 2.8rem;
  left: 1.2rem;
  z-index: 300;
}
.jst_pro_tabsBox .jst_box .jst_pro_cTab {
  width: 2rem;
  height: 100%;
  position: absolute;
  left: 4rem;
  top: 0;
  overflow: hidden;
  background: #27ba79;
}
.jst_pro_tabsBox .jst_box .jst_pro_cTab .jst_pro_tabCon {
  color: #FFFFFF;
  position: absolute;
  top: 1rem;
  left: 0.4rem;
  z-index: 100;
  width: 100%;
}
.jst_pro_tabsBox .jst_box .jst_pro_cTab .jst_pro_tabCon dt {
  font-size: 0.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jst_pro_tabsBox .jst_box .jst_pro_cTab .jst_pro_tabCon dd {
  font-size: 0.2rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jst_pro_tabsBox .jst_box .jst_pro_cTab i {
  display: inline-block;
  width: 1.04rem;
  height: 1.07rem;
  background-image: url(../new-images/product/communityIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0.1rem;
  bottom: 0;
}
.jst_pro_tabsBox .jst_box .jst_pro_cTab:hover {
  cursor: pointer;
}
.jst_pro_tabsBox .jst_box .jst_pro_cTabOn {
  width: 2.8rem;
  left: 3.2rem;
  z-index: 300;
}
.jst_pro_tabsBox .jst_box .jst_pro_dTab {
  width: 2rem;
  height: 100%;
  position: absolute;
  left: 6rem;
  top: 0;
  overflow: hidden;
  background: #367fec;
}
.jst_pro_tabsBox .jst_box .jst_pro_dTab .jst_pro_tabCon {
  color: #FFFFFF;
  position: absolute;
  top: 1rem;
  left: 0.4rem;
  z-index: 100;
  width: 100%;
}
.jst_pro_tabsBox .jst_box .jst_pro_dTab .jst_pro_tabCon dt {
  font-size: 0.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jst_pro_tabsBox .jst_box .jst_pro_dTab .jst_pro_tabCon dd {
  font-size: 0.14rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jst_pro_tabsBox .jst_box .jst_pro_dTab i {
  display: inline-block;
  width: 0.96rem;
  height: 0.87rem;
  background-image: url(../new-images/product/platformIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0.1rem;
  bottom: 0;
}
.jst_pro_tabsBox .jst_box .jst_pro_dTab:hover {
  cursor: pointer;
}
.jst_pro_tabsBox .jst_box .jst_pro_dTabOn {
  width: 2.8rem;
  left: 5.2rem;
  z-index: 300;
}
.jst_pro_tabsBox .jst_box .jst_pro_eTab {
  width: 2rem;
  height: 100%;
  position: absolute;
  left: 8rem;
  top: 0;
  overflow: hidden;
  background: #2e38b9;
}
.jst_pro_tabsBox .jst_box .jst_pro_eTab .jst_pro_tabCon {
  color: #FFFFFF;
  position: absolute;
  top: 1rem;
  left: 0.4rem;
  z-index: 100;
  width: 100%;
}
.jst_pro_tabsBox .jst_box .jst_pro_eTab .jst_pro_tabCon dt {
  font-size: 0.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jst_pro_tabsBox .jst_box .jst_pro_eTab .jst_pro_tabCon dd {
  font-size: 0.14rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jst_pro_tabsBox .jst_box .jst_pro_eTab i {
  display: inline-block;
  width: 0.92rem;
  height: 0.87rem;
  background-image: url(../new-images/product/jstIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0.1rem;
  bottom: 0;
}
.jst_pro_tabsBox .jst_box .jst_pro_eTab:hover {
  cursor: pointer;
}

.jst_pro_tabTitle {
  width: 100%;
  height: 1.45rem;
  border-bottom: 0.01rem solid #d1d1d1;
}
.jst_pro_tabTitle .jst_box {
  height: 100%;
}
.jst_pro_tabTitle .jst_box .jst_pro_pointerBox {
  height: 0.34rem;
  position: relative;
}
.jst_pro_tabTitle .jst_box .jst_pro_pointerBox .jst_pro_pointer1 {
  display: none;
  width: 0.34rem;
  height: 0.34rem;
  background-image: url(../new-images/product/pointer1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.jst_pro_tabTitle .jst_box .jst_pro_pointerBox .jst_pro_pointer1On {
  display: block;
  left: 1rem;
}
.jst_pro_tabTitle .jst_box .jst_pro_pointerBox .jst_pro_pointer2 {
  display: none;
  width: 0.34rem;
  height: 0.34rem;
  background-image: url(../new-images/product/pointer2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.jst_pro_tabTitle .jst_box .jst_pro_pointerBox .jst_pro_pointer2On {
  display: block;
  left: 2.4rem;
}
.jst_pro_tabTitle .jst_box .jst_pro_pointerBox .jst_pro_pointer3 {
  display: none;
  width: 0.34rem;
  height: 0.34rem;
  background-image: url(../new-images/product/pointer3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.jst_pro_tabTitle .jst_box .jst_pro_pointerBox .jst_pro_pointer3On {
  display: block;
  left: 4.4rem;
}
.jst_pro_tabTitle .jst_box .jst_pro_pointerBox .jst_pro_pointer4 {
  display: none;
  width: 0.34rem;
  height: 0.34rem;
  background-image: url(../new-images/product/pointer4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.jst_pro_tabTitle .jst_box .jst_pro_pointerBox .jst_pro_pointer4On {
  display: block;
  left: 6.4rem;
}
.jst_pro_tabTitle .jst_box .jst_pro_pointerBox .jst_pro_pointer5 {
  display: none;
  width: 0.34rem;
  height: 0.34rem;
  background-image: url(../new-images/product/pointer5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.jst_pro_tabTitle .jst_box .jst_pro_pointerBox .jst_pro_pointer5On {
  display: block;
  left: 9rem;
}
.jst_pro_tabTitle .jst_box .jst_pro_title {
  text-align: center;
  height: 1.11rem;
}
.jst_pro_tabTitle .jst_box .jst_pro_title i {
  display: inline-block;
  width: 0.38rem;
  height: 0.25rem;
  margin-right: 0.1rem;
  background-image: url(../new-images/product/b_titleIcon1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-bottom: 0.18rem;
}
.jst_pro_tabTitle .jst_box .jst_pro_title span {
  display: inline-block;
  font-size: 0.3rem;
  font-weight: bold;
  color: #333333;
  vertical-align: middle;
  margin-bottom: 0.18rem;
}

.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_envTitle {
  text-align: center;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_envTitle i {
  font-size: 0.2rem;
  font-weight: bold;
  font-style: italic;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_envTitle em {
  font-size: 0.34rem;
  font-weight: bold;
  font-style: italic;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_envTitle span {
  font-size: 0.3rem;
  font-weight: bold;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_content {
  height: 3.89rem;
  background-image: url(../new-images/product/b_scene_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6.57rem 3.89rem;
  position: relative;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_content .jst_pro_gn5 {
  width: 1.18rem;
  height: 1.18rem;
  text-align: center;
  background-image: url(../new-images/product/round02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 1.72rem;
  left: 3.42rem;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_content .jst_pro_gn5 span {
  display: block;
  padding-top: 0.2rem;
  font-size: 0.3rem;
  font-weight: bold;
  color: #ffffff;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_content .jst_pro_gn5 span i {
  display: block;
  font-size: 0.24rem;
  font-style: normal;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_content .jst_pro_ys5 {
  width: 1.18rem;
  height: 1.18rem;
  text-align: center;
  background-image: url(../new-images/product/round01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 1.72rem;
  left: 5.54rem;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_content .jst_pro_ys5 span {
  display: block;
  padding-top: 0.2rem;
  font-size: 0.3rem;
  font-weight: bold;
  color: #ffffff;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_content .jst_pro_ys5 span i {
  display: block;
  font-size: 0.24rem;
  font-style: normal;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_content .jst_pro_gnList {
  position: absolute;
  top: 1.3rem;
  left: 1.9rem;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_content .jst_pro_gnList li {
  width: 1.18rem;
  height: 0.37rem;
  line-height: 0.37rem;
  font-size: 0.14rem;
  text-align: center;
  color: #ffffff;
  background-image: url(../new-images/product/round04.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0.06rem;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_content .jst_pro_ysList {
  position: absolute;
  top: 1.3rem;
  left: 7.1rem;
}
.jst_pro_box1 .jst_box .jst_pro_useEnv .jst_pro_content .jst_pro_ysList li {
  width: 1.18rem;
  height: 0.37rem;
  line-height: 0.37rem;
  font-size: 0.14rem;
  text-align: center;
  color: #ffffff;
  background-image: url(../new-images/product/round03.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0.06rem;
}

/*# sourceMappingURL=product.css.map */
